*{
    background-color: #B0E0E6;
}

h1 {
    border: 1px solid;
}

.open_statement {
    background-color: #FFFCA4;
}

h2, .header {
    color: #800080;
}

.li_1 {
    text-decoration: overline;
    color: #800080;
}

a {
    color: #0000FF;
}

.first_textarea {
    border: 5px solid grey;
    background-color: white;
}

.email {
    background-color: white;
    border: 2px solid red;
}

.password {
    background-color: white;
    border: 2px solid red;
}

.submit_button {
    background-color: #EFEFEF;
    border: 2px solid red;
}

.question_box {
    background-color: #1500FF;
    padding-top: 10px;
    border: 4px dashed yellow ;
}

.question_box p {
    background-color:  #FFFCA4;
}

.second_textarea {
    background-color: white;
}