.header {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

table {
    margin: auto;
}
td {
    width: 200px;
    height: 400px;
    border: 6px solid white;
}

.box_1 {
    background-color: #717C89;
}

.box_2 {
    background-color: #8AA2A9;
}

.box_3 {
    background-color: #90BAAD;
}

.box_4 {
    background-color: #A1E5AB;
}

.box_5 {
    background-color: #ADF6B1;
}